doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-overrides.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src="/javascripts/jquery.browser.js")
    script(src="/javascripts/bootstrap.js")    
    script(src="/javascripts/jquery.quicksand.js")    
    script(src="/javascripts/jquery.easing.1.3.js")    
    script(src="/javascripts/jquery.easing.compatibility.js")    
    script(src="/javascripts/jquery-animate-css-rotate-scale.js")        
    script(src="/javascripts/main.js")
  body
    .container
      block content