extends layout

block content
    .row
      .btn-group.btn-group-justified
        a.btn.btn-default(href="#") Left
        a.btn.btn-default(href="#") Middle
        a.btn.btn-default(href="#") Right
    ul#avatars.image-grid
        each user, i in userlist
            li(data-id="#{i}")
                img(src="/images/avatar/#{user.name}.png")
    ul#destination(style="display:none")
      li(data-id="o") B        
      li(data-id="p") C
      li(data-id="q") K