extends layout

block content
    .row.well
      .btn-group.btn-group-justified
        a#bravi.btn.btn-default(href="#") Bravi
        a#people.btn.btn-default(href="#") People
        a#all.btn.btn-default(href="#") All
    .well
      div                  
        ul#avatars.image-grid
          each user, i in userlist
            li(data-id="#{i}" data-type="#{user.sector}")
              img(src="/images/avatar/#{user.name}.png")